<header class="header">
    <div class="header__zona-titulo">
        <div class="zona-titulo__logo">
            <img src="" alt="Logo de la página">
        </div>
        <div class="zona-titulo__titulo">
            <h1>FLEXROOMS</h1>
        </div>
    </div>
    <nav class="header__zona-navegacion">
        <a href="#" class="zona-navegacion__elemento">Inicio</a>
        <a href="#" class="zona-navegacion__elemento">Productos</a>
        <a href="#" class="zona-navegacion__elemento">Contacto</a>
        <a href="#" class="zona-navegacion__elemento">Sobre Nosotros</a>
    </nav>

</header>