@use "sass:color";

/*
  Definir variables:
  - Colores corporativos
  - Fuentes usadas (titulo, con y sin serifa)

*/

$flexrooms-colorFondo: #FAFAFA;
$flexrooms-colorLetra--main: #020202;
$flexrooms-colorLetra--light: color.scale($flexrooms-colorLetra--main, $lightness: 70%);

/*

  FUENTES DEL SITIO WEB

  - Título
  - Con serifa
  - Sin serifa

*/

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

@font-face {
    font-family: 'Alpha Centauri';
    src: url('../fonts/Alphacentauri-MVY4p.ttf');
}


$font-family-title: 'Alpha Centauri', sans-serif;
$font-family-serif: 'Lora', serif;
$font-family-sans-serif: 'Montserrat', sans-serif;

/*

  COLORES CORPORATIVOS

  Definidos con el nombre del color para mejor diferenciación

*/
$flexrooms-corporate-antiFlashWhite: #EDEDED;
$flexrooms-corporate-columbiaBlue: #CCE1EE;
$flexrooms-corporate-uranianBlue: #BEE8FF;
$flexrooms-corporate-babyBlue: #96C5DE;
$flexrooms-corporate-airForceBlue: #5289A7;
$flexrooms-corporate-paynesGray: #416B82;
$flexrooms-corporate-charcoal: #304D5C;
$flexrooms-corporate-gunmetal: #1F2F37;
$flexrooms-corporate-night: #0E1111;